.navbar{
    
    margin-bottom: 0;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    position: fixed;

}

#about{
    letter-spacing: 4px;
}

.about-style{
    float: right;
    text-align: left;
   
}

.fab{
    margin: 10px;
    margin-top: 75px;
    color: #123e7a;
}

.btn{
    background-color: #123e7a;
    
}



